In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.0-cp311-cp311-win_amd64.whl.metadata (59 kB)
     ---------------------------------------- 0.0/59.7 kB ? eta -:--:--
     ------------------- ------------------ 30.7/59.7 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 59.7/59.7 kB 798.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ksgun\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ksgun\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 1.8 MB/s eta 0:00:07
    --------------------------------------- 0.3/11.6 MB 3.4 MB/s eta 0:00:04
   - -------------------------------------- 0.5/11.6 MB 3.7 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/11.6 MB 3.7 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/11.6 MB 3.7 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/11.6 MB 3.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/11.6 MB 3.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.4/11.6 MB 3.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.6 MB 3.8 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.6 MB 3.9 MB/s eta 0:00:03
   ------ --------------------------------- 2.0/11.6 MB 3.9 MB/s eta 0:00:03
   ------- -------------------------------- 2.2/11.6 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.3/11.6 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 4.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.6 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.2/11.6 MB 4.0 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.6 MB 4.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.6/11.6 MB 4.1 MB/s eta 0:00:02
   ------------- -------------------------- 3.8/11.6 MB 4.1 MB/s eta 0:00:02
   ------------- -------------------------- 4.1/11.6 MB 4.2 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.6 MB 4.2 MB/s eta 0:00:02
   --------------- ------------------------ 4.5/11.6 MB 4.2 MB/s eta 0:00:02
   ---------------- ----------------------- 4.7/11.6 MB 4.2 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.6 MB 4.3 MB/s eta 0:00:02
   ----------------- ---------------------- 5.2/11.6 MB 4.3 MB/s eta 0:00:02
   ------------------ --------------------- 5.5/11.6 MB 4.4 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 4.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.6 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.4/11.6 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.6 MB 4.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 4.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.6 MB 4.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.6 MB 4.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.5/11.6 MB 4.5 MB/s eta 0:00:01
   -------------------------- ------------- 7.8/11.6 MB 4.5 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.6 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------ --------- 9.0/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 4.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.2/11.6 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 4.8 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 4.8 MB/s eta 0:00:00
Downloading numpy-2.1.0-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
    --------------------------------------- 0.2/12.9 MB 7.0 MB/s eta 0:00:02
   - -------------------------------------- 0.5/12.9 MB 6.4 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/12.9 MB 5.4 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/12.9 MB 6.0 MB/s eta 0:00:02
   --- ------------------------------------ 1.3/12.9 MB 5.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.5/12.9 MB 5.7 MB/s eta 0:00:03
   ----- ---------------------------------- 1.8/12.9 MB 5.6 MB/s eta 0:00:02
   ------ --------------------------------- 2.0/12.9 MB 5.5 MB/s eta 0:00:02
   ------ --------------------------------- 2.2/12.9 MB 5.5 MB/s eta 0:00:02
   ------- -------------------------------- 2.5/12.9 MB 5.5 MB/s eta 0:00:02
   -------- ------------------------------- 2.8/12.9 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.9 MB 5.6 MB/s eta 0:00:02
   ---------- ----------------------------- 3.3/12.9 MB 5.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.6/12.9 MB 5.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.9/12.9 MB 5.6 MB/s eta 0:00:02
   ------------ --------------------------- 4.1/12.9 MB 5.5 MB/s eta 0:00:02
   ------------- -------------------------- 4.4/12.9 MB 5.6 MB/s eta 0:00:02
   -------------- ------------------------- 4.6/12.9 MB 5.6 MB/s eta 0:00:02
   --------------- ------------------------ 4.9/12.9 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 5.2/12.9 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 5.4/12.9 MB 5.6 MB/s eta 0:00:02
   ----------------- ---------------------- 5.7/12.9 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 6.0/12.9 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 6.3/12.9 MB 5.6 MB/s eta 0:00:02
   -------------------- ------------------- 6.5/12.9 MB 5.6 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.9 MB 5.6 MB/s eta 0:00:02
   --------------------- ------------------ 7.1/12.9 MB 5.6 MB/s eta 0:00:02
   ---------------------- ----------------- 7.4/12.9 MB 5.7 MB/s eta 0:00:01
   ----------------------- ---------------- 7.6/12.9 MB 5.7 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.9 MB 5.6 MB/s eta 0:00:01
   ------------------------- -------------- 8.1/12.9 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.9 MB 5.7 MB/s eta 0:00:01
   --------------------------- ------------ 8.7/12.9 MB 5.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.0/12.9 MB 5.7 MB/s eta 0:00:01
   ---------------------------- ----------- 9.2/12.9 MB 5.7 MB/s eta 0:00:01
   ----------------------------- ---------- 9.5/12.9 MB 5.7 MB/s eta 0:00:01
   ------------------------------ --------- 9.8/12.9 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 10.1/12.9 MB 5.7 MB/s eta 0:00:01
   -------------------------------- ------- 10.4/12.9 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.9/12.9 MB 5.7 MB/s eta 0:00:01
   ---------------------------------- ----- 11.2/12.9 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 11.4/12.9 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 5.6 MB/s eta 0:00:01
   ------------------------------------ --- 11.8/12.9 MB 5.6 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 5.6 MB/s eta 0:00:01
   -------------------------------------- - 12.3/12.9 MB 5.7 MB/s eta 0:00:01
   -------------------------------------- - 12.5/12.9 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------  12.8/12.9 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 5.6 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------- ------------------ 266.2/505.5 kB 8.3 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 6.3 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ----------------------------------- ---- 307.2/345.4 kB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 5.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('salaries_by_college_major.csv')

In [4]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [5]:
df.shape()

TypeError: 'tuple' object is not callable

In [6]:
df.shape

(51, 6)

In [7]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [8]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [9]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [10]:
clean_df = df.dropna()

In [11]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS